<div class="pick-list">
  <h3 class="pick-list--title">Pick a Post Category</h3>

  <% _.each(categories, function(category) { %>
    <div class="pick-list--item">
      <button class="button button-pick-list"><%= category.presentation %></button>
    </div>
  <% }); %>
</div>
