$color-background: #eee;
$color-green: #5B9753;

// flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin flex-order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// @mixin single-transition($property, $duration, $timing) {
//   @include transition-property($property);
//   @include transition-duration($duration);
//   @include transition-timing-function($timing);
// }

@mixin opacity($val) {
  opacity: $val;
}
